akshare>=1.12.0
pandas>=2.0.0
numpy>=1.24.0
matplotlib>=3.7.0
seaborn>=0.12.0
jinja2>=3.1.0
openpyxl>=3.1.0
requests>=2.31.0
tqdm>=4.65.0

python-dateutil>=2.8.2
fake-useragent>=1.4.0     # 生成随机、真实浏览器 User-Agent (用户代理) 字符串
tenacity>=8.2.0
scipy>=1.11.0


